<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test1</key>
	<array>
		<dict>
			<key>Title</key>
			<string>正式环境</string>
			<key>BaseURL</key>
			<string>http://github.com/Tony0822</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>测试test</string>
			<key>BaseURL</key>
			<string>http://github.com/Tony0822</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>预发环境</string>
			<key>BaseURL</key>
			<string>http://github.com/Tony0822</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>测试137</string>
			<key>BaseURL</key>
			<string>http://github.com/Tony0822</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>DEV</string>
			<key>BaseURL</key>
			<string>http://github.com/Tony0822</string>
		</dict>
	</array>
	<key>Test2</key>
	<array>
		<dict>
			<key>Title</key>
			<string>正式环境</string>
			<key>BaseURL</key>
			<string>http://github.com/Tony0822</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>开发环境</string>
			<key>BaseURL</key>
			<string>http://github.com/Tony0822</string>
		</dict>
	</array>
</dict>
</plist>
